@base: #e1e8f0;
@cinza-claro: #53565b;
@cinza-escuro: #4d5256;
@vermelho: #e62739;
@roxo: #9068be;
@verde-agua: #6ed3cf;

.main {
  background-color: @base;
  height: 100%;
}

.topo {
  background-color: @cinza-claro;
  -webkit-box-shadow: 0px 2px 24px -1px @cinza-escuro;
  -moz-box-shadow: 0px 2px 24px -1px @cinza-escuro;
  box-shadow: 0px 2px 24px -1px @cinza-escuro;
}
