<header class="topo">
  <div class="container-fluid">
    <div class="left">
      <!-- <img src="{{dadosUsuario.avatar_url}}"> -->
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="Doroppu" title="Doroppu">
      </div>
      <input type="text" name="pesquisa-shot" placeholder="Pesquisar...">
    </div>
    <div class="right">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-square-o fa-stack-1x"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-square-o fa-stack-1x"></i>
      </span>
    </div>
  </div>
</header>
<section id="conteudo">
  <div class="container-fluid">
  <ul>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>
    <li>
        <div class="thumb">
          <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97300&w=400&h=300" alt="">
        </div>
        <label>texto</label>
    </li>




  </ul>
</div>
</section>
<div id="footer">
  <p>2017 doroppu - Jéssica Costa</p>
</div>
