<header class="topo">
  <div class="container-fluid">
    <div class="left">
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="Doroppu" title="Doroppu">
      </div>
      <input type="text" name="pesquisa-shot" placeholder="Pesquisar...">
    </div>
    <div class="right">
      <span class="fa-stack fa-lg" (click)="mudaTamanhoShots(false)">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-square-o fa-stack-1x"></i>
      </span>
      <span class="fa-stack fa-lg" (click)="mudaTamanhoShots(true)">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-square-o fa-stack-1x"></i>
      </span>
    </div>
  </div>
</header>
<section id="conteudo">
  <div class="container-fluid">
  <ul>
    <li *ngFor="let shot of shots; let i = index">
        <div class="thumb">
          <img *ngIf="tamanhoGrande" src="{{shot.images.normal}}" alt="">
          <img *ngIf="!tamanhoGrande" src="{{shot.images.teaser}}" alt="">
        </div>
        <label>{{shot.title}}</label>
    </li>
  </ul>
  <button type="button" name="button" class="btn" (click)="paginaShots = paginaShots + 1; getShots()">Carregar Mais</button>
</div>
</section>
<div id="footer">
  <p>2017 doroppu - Jéssica Costa</p>
</div>
